[submodule "1Bitsy/1bitsy-hardware-lib"]
	path = 1Bitsy/1bitsy-hardware-lib
	url = https://github.com/1Bitsy/1bitsy-hardware-lib
[submodule "esden/pretty-kicad-libs"]
	path = esden/pretty-kicad-libs
	url = https://github.com/esden/pretty-kicad-libs
[submodule "tuna-f1sh/jbr-kicad"]
	path = tuna-f1sh/jbr-kicad
	url = git@github.com:tuna-f1sh/jbr-kicad.git
[submodule "Eagle-and-KiCAD-Nixie-Libs"]
	path = Eagle-and-KiCAD-Nixie-Libs
	url = https://github.com/judge2005/Eagle-and-KiCAD-Nixie-Libs
